<md-card class="md-whiteframe-z1 os-page-content">
  <md-list layout-padding>
    <md-list-item class="md-3-line" ng-repeat="snippet in $ctrl.snippets">
      <div class="md-list-item-text">
        <h3><b>Name</b>: {{ snippet.name }}</h3>
        <h4><b>Description</b>: {{ snippet.description }}</h4>
      </div>
      <div class="list-button-right">
        <md-button class="md-icon-button" ui-sref="edit({id: snippet._id})">
          <md-icon class="material-icons">edit</md-icon>
        </md-button>
        <md-checkbox md-no-ink ng-model="snippet.markToRun"
                     ng-disabled="!$ctrl.canMark() && !snippet.markToRun" ng-change="$ctrl.checkboxSelected(snippet)" aria-label="No Ink Effects">
          Select for competition mode
        </md-checkbox>
      </div>
    </md-list-item>
  </md-list>
  <md-fab-speed-dial  md-direction="left" md-open="demo.isOpen"
                       class="md-scale md-fab-bottom-right" style="position: fixed!important;">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn" ng-click="$ctrl.runCompetition()">
          <md-icon class="material-icons">arrow_right</md-icon>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
      </md-fab-actions>
    </md-fab-speed-dial>
</md-card>
