<md-card class="md-whiteframe-z1 os-page-content">
  <h1>Open-source Snake AI Platform</h1>
  <p>
    Welcome to OpenSnap the programming platform where you finally have the opportunity to
    write your own implementation of a snake's brain.
  </p>
  <p>
    To get started click the create icon on the sidebar and you can start experiencing with writing 
    your AI code and test it out in a live snake environment. You can save your snippet any time and
    update it later.<br/>
    To load the existing snippets click the codes button on the sidebar, choose a snippet you like and click 
    the arrow icon to load it.
  </p>
  <p>
    Happy Snapping!
  </p>
  <p>
    You can find us on GitHub:<br/>
    <a href="https://github.com/peterhalasz/opensnap-frontend">OpenSnap Frontend</a><br/>
    <a href="https://github.com/peterhalasz/opensnap-backend">OpenSnap Backend</a>
  </p>
  <p></p>
  <p></p>
</md-card>
