<md-dialog class="os-run-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Run Game</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.close()">
        <md-icon class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="os-run-dialog-content">
    <div layout="row" layout-align="center center" class="os-run-loader" ng-if="$ctrl.isLoading">
      <md-progress-circular md-mode="indeterminate" md-diameter="120"></md-progress-circular>
    </div>
    <div id="snake"></div>
    <div layout-padding layout="row" ng-if="!$ctrl.isLoading" class="md-whiteframe-z5">
      <span>Here we can display game stats, or any relevant information</span>
    </div>
  </md-dialog-content>

</md-dialog>
